/*
* Reina's code
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'M PLUS 1', sans-serif;
    color: #171a20;
    top: 0;
}

header{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    color: inherit;
    justify-content: space-between;
}

header nav .right{
    display: flex;
    margin-right: 15px;
    margin-top: 35%;
}

header nav .right a{
    text-decoration: none;
    color: inherit;
}


.logo img{
    width: 130px;
    height: 90px;
    padding: 5px;
    margin-left: 10px;
}

.form-heading{
    text-align: start;
    margin-top: 5%;
    position: absolute;
    left: 40%;
    padding-top: 10px;
}

.form-heading h2{
    font-size: 35px;
    color: inherit;
}

form{
    position: absolute;
    top: 25%;
    left: 40%;
    display: grid;
    width: 25%;
}

form label{
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
}

form .icon{
    font-size: 18px;
    margin-left: 5px;
    margin-top: 2px;
    color: grey;
}

form input[type = email]{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: rgb(240, 240, 240);
    margin-bottom: 15px;
}

form button{
    color: white;
    background-color: rgb(154, 154, 255);
    width: 100%;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

form .create{
    background-color: rgb(240, 240, 240);
    color: rgb(94, 93, 93);
    font-weight: 600;
}

form .create a{
    text-decoration: none;
}

form a{
    text-align: center;
    color: inherit;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 500;
}

form .line{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
}

form .line1{
    height: 1px;
    width: 40%;
    border-radius: 2px;
    background-color: gray;
    margin-left: 60px;
    margin-right: 20px;
}

form .line2{
    height: 1px;
    width: 40%;
    border-radius: 2px;
    background-color: gray;
    margin-right: 60px;
}

form p{
    margin-right: 20px;
    color: inherit;
}


footer{
    position: absolute;
    top: 95%;
    left: 43%;
}

footer a{
    text-decoration: none;
    padding-right: 25px;
    color: inherit;
    font-size: 13px;
    font-weight: 500;
}

footer a:hover{
    color: rgb(59, 59, 233);
}

@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        font-family: 'M PLUS 1', sans-serif;
        color: #171a20;
        top: 0;
    }
    
    header{
        display: flex;
        width: 100%;
        position: fixed;
        top: 0;
        color: inherit;
        justify-content: space-between;
    }
    
    header nav .right{
        display: flex;
        margin-right: 15px;
        margin-top: 35%;
    }
    
    header nav .right a{
        text-decoration: none;
        color: inherit;
    }
    
    
    .logo img{
        width: 130px;
        height: 90px;
        padding: 5px;
        margin-left: 10px;
    }
    
    .form-heading{
        margin-top: 80px;
    }
    
    .form-heading h2{
        font-size: 35px;
        color: inherit;
    }
    
    form{
        position: absolute;
        top: 25%;
        left: 17%;
        display: grid;
        width: 70%;
    }
    
    footer{
        position: absolute;
        top: 95%;
        left: 22%;
    }
    
    footer a{
        text-decoration: none;
        padding-right: 25px;
        color: inherit;
        font-size: 13px;
        font-weight: 500;
    }

    footer a:hover{
        color: rgb(59, 59, 233);
    }
}
